# SJSU CMPE 180A Data Structures and Algorithms in Python

**Term Project** (20 points)

** Project Name:  your_dataset_name Analytics**

Team Name:  Jet Setters (example)

Group Number: 8

Group members with SJSU IDs:


1.   Bradley Yong, 008383440
2.   Jonathan Spikes, SJSU_ID 2
3.   Lisa Leib, 018264155


Date:  August 29, 2024

Selected data set:  [US Airline Flight Routes and Fares](https://www.kaggle.com/code/nitikagupta29/us-airline-flight-routes-and-fares)

## Dataset analysis and visualisation

The goal of dataset analysis is to explain what dataset represents and to illustrate the most interesting and relevant features i.e. columns present in dataset.

Possible steps:
1. Load dataset
2. Inspect data and preprocess columns if needed
3. Visualize data (histogram, scatterplot,...)
4. Analyze dataset by plotting or presenting overview of different classes/groups/features
5. Present your results: prepare slides and an  5 to 10-minute presentation in Week 11 of the course

# 1. Load dataset

## Environment Preparation

In [2]:
# enable mounting of google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# import neccesary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tabulate import tabulate
import sys
import seaborn as sns

## Load Data files

In [4]:
# US Airline Flight Routes and Fares
# https://www.kaggle.com/code/nitikagupta29/us-airline-flight-routes-and-fares

filename = "/content/drive/MyDrive/data/US Airline Flight Routes and Fares 1993-2024.csv"

# df = pd.read_csv(filename)
df = pd.read_csv(filename, low_memory=False)

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/data/US Airline Flight Routes and Fares 1993-2024.csv'

In [5]:
# Data enrichment files

# Lookup data for Airline names and two digit codes
airlinecodes = '/content/drive/MyDrive/data/AirlineCodes.csv'
df_airline_codes = pd.read_csv(airlinecodes)
# df_airline_codes.head()

# Lookup data for Airport geolocation (Latitude/Longitude)
geolocations = '/content/drive/MyDrive/data/Geocodes.csv'
df_geolocations = pd.read_csv(geolocations)
# df_geolocations.head()
print('Enrichment data loaded')

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/data/AirlineCodes.csv'

# 2. Inspect data and preprocess columns if needed

## 2.1 Data Inspection

Data issues:
```
  1) Resolve warning --> DtypeWarning: Columns (20,21) have mixed types
      * Geocoded_City1
      * Geocoded_City2
  2) Delete extraneous data:
      * column: tbl
      * column: tbl1apk
  3) Missing data from columns: NO ACTION YET
      * large_ms
      * fare_lg
      * lf_ms
      * fare_low
      * carrier_lg
      * carrier_low
  4) Additional Missing data:  NO ACTION YET
      * No data for 1995
      * Partial data for 2024
  5) Evaluate object data types:  NO ACTION YET
      * city1
      * city2
      * airport_1
      * airport_2
      * carrier_lg
      * carrier_low
  6) Awareness of rows with incomplete/inaccurate data?
      * Passengers = 0  | 7,439 rows
      * Airline = YY  | 12 rows
      * Market Share (large + low) > 1
```

In [6]:
#

print('Shape: ', df.shape)
print('-----')
df.info()
# df.columns

NameError: name 'df' is not defined

In [ ]:
df.describe()

,Year,quarter,citymarketid_1,citymarketid_2,airportid_1,airportid_2,nsmiles,passengers,fare,large_ms,fare_lg,lf_ms,fare_low
count,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,245955.000000,244415.000000,244415.000000,244343.000000,244343.000000
mean,2008.524124,2.479153,31556.430201,32180.117086,12437.099986,13249.889525,1189.812319,299.476795,218.979587,0.665252,218.710963,0.450438,190.675939
std,8.703364,1.122149,1089.872880,1232.464184,1431.665257,1425.810159,703.143472,511.389486,82.372486,0.224635,84.674363,0.332669,73.577694
min,1993.000000,1.000000,30135.000000,30189.000000,10135.000000,10466.000000,109.000000,0.000000,50.000000,0.003800,50.000000,0.010000,50.000000
25%,2001.000000,1.000000,30721.000000,30994.000000,11193.000000,12197.000000,626.000000,21.000000,164.620000,0.480000,161.500000,0.158000,140.060000
50%,2008.000000,2.000000,31423.000000,32211.000000,12266.000000,13303.000000,1023.000000,113.000000,209.320000,0.652400,208.030000,0.360000,181.630000
75%,2016.000000,3.000000,32467.000000,33192.000000,13487.000000,14679.000000,1736.000000,339.000000,262.890000,0.871900,263.640000,0.750000,230.040000
max,2024.000000,4.000000,35412.000000,35628.000000,16440.000000,15919.000000,2724.000000,8301.000000,3377.000000,1.000000,2725.600000,1.000000,2725.600000

Original Missing values

![image.png]()

In [ ]:
#
missing_values = df.isnull().sum()
print(missing_values)

## 2.2 Data Cleansing

In [ ]:
#  Cleaning the data -- Standardizing column names

df.rename(columns={'large_ms': 'carrier_lg_ms'}, inplace=True)
df.rename(columns={'fare_lg': 'carrier_lg_fare'}, inplace=True)
df.rename(columns={'lf_ms': 'carrier_low_ms'}, inplace=True)
df.rename(columns={'fare_low': 'carrier_low_fare'}, inplace=True)
df.rename(columns={'lf_ms': 'carrier_low_ms'}, inplace=True)
df.rename(columns={'fare_low': 'carrier_low_fare'}, inplace=True)
df.rename(columns={'fare': 'avg_fare'}, inplace=True)

# df.info()
# print(df.shape)

In [ ]:
#  Cleaning the data -- Deleting unneccessary columns

# Drop columns with any missing values
# df_cleaned_columns = df.dropna(axis=1)  #  deletes any column that contain any missing values (NaN) from the DataFrame -->  I don't like this approach
# Best to delete specific columns
del df['tbl1apk']
del df['tbl']
del df['Geocoded_City1']
del df['Geocoded_City2']

df.info()
# print(df.shape)

In [ ]:
#  Cleaning the data -- Enriching the data with additional Carrier name info
#
# Adding Decode names for Airlines Name by merging with df_airline_codes
df_airline_codes.rename(columns={'Code': 'carrier_lg'}, inplace=True)
df_airline_codes.rename(columns={'Decode': 'carrier_lg_name'}, inplace=True)
df = pd.merge(df, df_airline_codes, on='carrier_lg', how='left')
df_airline_codes.rename(columns={'carrier_lg': 'carrier_low'}, inplace=True)
df_airline_codes.rename(columns={'carrier_lg_name': 'carrier_low_name'}, inplace=True)
df = pd.merge(df, df_airline_codes, on='carrier_low', how='left')

# print(df.info())

In [ ]:
#  Cleaning the data -- Updating the format and values for Geolocation columns

# Adding Geocode locations by merging with df_geolocations
df_geolocations.rename(columns={'airport': 'airport_1'}, inplace=True)
df_geolocations.rename(columns={'Geolocation': 'geolocation_1'}, inplace=True)
df = pd.merge(df, df_geolocations, on='airport_1', how='left')

df_geolocations.rename(columns={'airport_1': 'airport_2'}, inplace=True)
df_geolocations.rename(columns={'geolocation_1': 'geolocation_2'}, inplace=True)
df = pd.merge(df, df_geolocations, on='airport_2', how='left')

# df.info()
# print(df.shape)

In [ ]:
#  Cleaning the data -- Reordering the columns in the dataframe
#
new_order = ['Year',
             'quarter',
             'citymarketid_1',
             'citymarketid_2',
             'city1',
             'city2',
             'airportid_1',
             'airportid_2',
             'airport_1',
             'airport_2',
             'nsmiles',
             'passengers',
             'avg_fare',
             'carrier_lg',
             'carrier_lg_name',
             'carrier_lg_ms',
             'carrier_lg_fare',
             'carrier_low',
             'carrier_low_name',
             'carrier_low_ms',
             'carrier_low_fare',
             'geolocation_1',
             'geolocation_2'
             ]

df = df.reindex(columns=new_order)

# print(df.info())

In [1]:
df.describe()

NameError: name 'df' is not defined

# 3. Visualize data (histogram, scatterplot,...)

# 4. Analyze dataset by plotting or presenting overview of different classes/groups/features